<div class="Box">
  <div class="container">
    <div class="logo">
      <h4 class="team">team:</h4><h4 class="upper">up</h4>
      <div class="dot3"></div>
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
    <h3>an exclusive network allowing you to connect with London-based freelancer developers.</h3>
    <a class="waves-effect waves-light btn" ng-click="home.goToBottom()">Learn More</a>
    <a class="waves-effect waves-light btn login" ui-sref="freelancersLogin"><span class="invisible">......</span>Login<span class="invisible">......</span></a>
  </div>
</div>
<a id="bottom"></a>
<div class="parallax-container">
  <div class="parallax">
    <img src="images/friends.jpg">
  </div>
</div>
<div class="section white threeColumns">
  <div class="row container">
    <h2 class="header">How it works</h2>
    <div class="row">

      <div class="col s12 m4">
        <h3 class="boxText">Step 1: Register to create a profile and join the team:up network.</h3>
        <a class="waves-effect waves-light btn login" ui-sref="freelancersRegister">Register</a>
        <a class="waves-effect waves-light btn login" ui-sref="freelancersLogin"><span class="invisible">...</span>  Login<span class="invisible">...</span></a>
      </div>
      <div class="col s12 m4">
        <h3 class="boxText">Step 2: Create a project and provide details to start building your team. Your project page will be searchable by other users who can apply for specific roles in the project.  Your profile allows you to track your projects,  accept users and manage your team.</h3>
      </div>
      <div class="col s12 m4">
        <h3 class="boxTest">Step 3: To apply for roles, login and search the database of live projects. Your profile allows you to track which projects you are working on and which projects you have requested to join.</h3>
      </div>

    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/cool.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">About</h2>
    <h3 class="grey-text text-darken-3 lighten-3 boxTest">team:up is a networking tool which allows you to build your own teams by leveraging on a network of freelancers.
    team:up was created by byte:me, a team of developers based in London. The project was inspired by a single question: what if an agency model could be replicated in an online network, with no overheads therefore providing greater freedom and flexibility for teams? We are here to shake up the industry and empower you.
    </h3>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/teamup1.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Contact Us</h2>
    <h3 class="grey-text text-darken-3 lighten-3 boxTest"></p>
  </div>
</div>
