<div class="parallax-container">
<img src="https://images.unsplash.com/photo-1461280360983-bd93eaa5051b?dpr=1.3333333730697632&auto=compress,format&fit=crop&w=991&h=661&q=80&cs=tinysrgb&crop=">
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">TEAM:UP</h2>
    <div class="row">

      <div class="col s4">
        <h3>Twee meggings 90's fap. </h3>
      </div>
      <div class="col s4">
        <h3>Unicorn kinfolk af, leggings lyft synth sriracha sustainable.</h3>
      </div>
      <div class="col s4">
        <h3>Waistcoat hammock fixie you probably haven't heard of them.</h3>
      </div>

    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?dpr=1&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=512&amp;q=80&amp;cs=tinysrgb&amp;crop="></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    <h2 class="header">Parallax</h2>
    <h2 class="header">Parallax</h2>
    <h2 class="header">Parallax</h2>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://images.unsplash.com/photo-1450740199001-78e928502994?dpr=1&auto=compress,format&fit=crop&w=1199&h=794&q=80&cs=tinysrgb&crop="></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    <h2 class="header">Parallax</h2>
    <h2 class="header">Parallax</h2>
    <h2 class="header">Parallax</h2>
  </div>
</div>
