<h1>Project edit page!!!</h1>
<div class="row">
  <h1>{{ projects.project.name }}</h1>
  <h6>{{ projects.project.description }}</h6>

  <div class="col s12 m3">
    <div class="card">
        <!-- NEEDS AN NG IF AROUND IT <a ui-sref="projectsApply"> -->
        <!-- </a> -->
      <div class="card-content">
        <ul class="collection with-header">
          <li class="collection-header">Budget</li>
          <li class="collection-item">{{ projects.project.budget }}</li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header">TimeFrame</li>
          <li class="collection-item">{{ projects.project.timeframe }}</li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header">Filled Positions</li>
          <li class="collection-item" ng-repeat="member in projects.project.activeTeamMembers">{{ member.firstName }} {{ member.lastName }}</li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header">Open Positions</li>
          <li class="collection-item" ng-repeat="member in projects.project.pendingTeamMembers">{{ member.firstName }} {{ member.lastName }}
            <button ng-submit="projects.projectsUpdate(member._id)"> Accept</button> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
