<h1>Project edit page!!!</h1>
<div class="row">
  <h1>{{ projects.project.name }}</h1>
  <h6>{{ projects.project.description }}</h6>

  <div class="col s12 m3">
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header">Required Team</li>
        <li ng-repeat="(key, value) in projects.project.requiredTeamMembers" ng-if="value">{{ key }} {{ value }} </li>
        </ul>
      </div>
      <div class="card">
        <ul class="collection with-header">
          <li class="collection-header">Open Positions</li>
          <li ng-repeat="(key, value) in projects.project.openTeamMembers" ng-if="value">{{ key }} {{ value }} </li>
          </ul>
        </div>
        <div class="card">
          <ul class="collection with-header">
            <li class="collection-header">Pending Applications</li>
            <li ng-repeat="(key, value) in projects.project.waitingTeamMembers"> {{ key }} {{ value }}
            <button ng-click="projects.acceptApplication(key, value)"> Accept </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
