<div class="row top">
  <div class="col s12 m8 offset-m2">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image project edit" style="
          background-image: url({{ projects.project.picture }});
          ">
          <img src="">
          <span class="card-title">{{ projects.project.name }}</span>
        </div>
        <div class="card-content">
          <p>{{ projects.project.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 ">
      <div class="card">
        <ul class="collection with-header">
          <li class="collection-header">
            <h5>Open Positions</h5>
          </li>
          <li class="collection-item" ng-if="projects.openPositionCount(projects.project.openTeamMembers) === 0"> No available roles </li>
          <li class="collection-item" ng-repeat="(key, value) in projects.project.openTeamMembers track by $index" ng-if="value !== 0">
            {{ value }} {{ key }} Positions
            <!-- replaced button with the above span -->
            <!-- <button ng-click="projects.freelancerApply(key)" class="btn waves-effect waves-light" type="submit" name="action">Apply
            <i class="material-icons right">send</i> -->
            <!-- </button> -->
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 ">
      <div class="card">
        <ul class="collection with-header">
          <li class="collection-header">
            <h5>Pending Applications</h5>
          </li>
          <div ng-repeat="(key, value) in projects.project.waitingTeamMembers track by $index" ng-if="value.length !== 0">
            <li class="collection-item" ng-repeat="id in value track by $index">
              <!-- thowing error, see console log on page log -->
              <!-- waitingTeamMembers isnt being populated -->
              <span class="new badge" data-badge-caption="" ng-click="projects.acceptApplication(key, id._id)">
                Accept
              </span>
              {{ key }} : <a ui-sref="freelancersShow({id: id._id})"> {{ id.firstName }} {{ id.lastName }} </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 ">
      <div class="card">
        <ul class="collection with-header">
          <li class="collection-header">
            <h5>Filled Positions</h5>
          </li>
          <li class="collection-item" ng-if="projects.filledPositionCount(projects.project.liveTeamMembers) === 0"> No filled roles yet </li>
          <li class="collection-item" ng-repeat="(key, value) in projects.project.liveTeamMembers track by $index" ng-if="value.length !== 0"><span ng-repeat="id in value track by $index">{{ key }}: {{ id.firstName }} {{ id.lastName }} </span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
