<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="./index.html" class="brand-logo">Team Builder</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="./login.html">Login</a></li>
        <li><a href="./register.html">Register</a></li>
        <li><a href="./projects.html">Projects</a></li><li><a href="./profile.html">Profile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="./login.html">Login</a></li>
        <li><a href="./register.html">Register</a></li>
        <li><a href="./projects.html">Projects</a></li><li><a href="./profile.html">Profile</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="http://www.fillmurray.com/300/300">
          <span class="card-title">Project X</span>
        </div>
        <div class="card-content">
          <ul class="collection with-header">
            <li class="collection-header"><h4>Filled Positions</h4></li>
            <li class="collection-item">UX: Him</li>
            <li class="collection-item">UI: Her</li>
          </ul>
          <ul class="collection with-header">
            <li class="collection-header"><h4>Open Positions</h4></li>
            <a href="#!" class="collection-item">Back-End</a>
            <a href="#!" class="collection-item">UI</a>
          </ul>
          <ul class="collection with-header">
            <li class="collection-header"><h4>Applicants</h4></li>
            <li class="collection-item">
              <a href="./profile.html">Back-End: freelancer1</a>
              <a class="waves-effect waves-light btn">Accept</a>
            </li>
            <li class="collection-item">
              <a href="./profile.html">UI: freelancer2</a>
              <a class="waves-effect waves-light btn">Accept</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>
</html>
