
<div class="row" ng-controller="ProjectsShowCtrl as show">
  <h1>{{show.project.name}}</h1>
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="http://www.fillmurray.com/300/300">
        <span class="card-title">Project X</span>
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" ui-sref="projectsApply"><i class="large material-icons">mode_edit</i></a>
      </div>
      <div class="card-content">
        <ul class="collection with-header">
          <li class="collection-header"><h4>Filled Positions</h4></li>
          <li class="collection-item">UX: Him</li>
          <li class="collection-item">UI: Her</li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header"><h4>Open Positions</h4></li>
          <li class="collection-item">
            <div class="">
              UX
            </div>
            <div class="switch">
              <label>
                Withdraw Application
                <input type="checkbox">
                <span class="lever"></span>
                Submit Application
              </label>
            </div>
          </li>
          <li class="collection-item">
            <div class="">
              UI
            </div>
            <div class="switch">
              <label>
                Withdraw Application
                <input type="checkbox">
                <span class="lever"></span>
                Submit Application
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
