<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="http://www.fillmurray.com/400/400">
        <span class="card-title">Jack Matthews</span>
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" ui-sref="freelancersEdit"><i class="large material-icons">mode_edit</i></a>
      </div>
      <div class="card-content">
        <ul class="collection with-header">
          <li class="collection-header"><h4>My Projects</h4></li>
          <a ui-sref="projectsUpdate" class="collection-item">Pear's Website</a>
          <a ui-sref="projectsUpdate"  class="collection-item">Remote App</a>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header"><h4>Projects I'm In</h4></li>
          <a ui-sref="projectsUpdate"  class="collection-item">Pear's Website</a>
          <a ui-sref="projectsUpdate"  class="collection-item">Remote App</a>
          <a ui-sref="projectsUpdate"  class="collection-item">Hippo Corner</a>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header"><h4>Pending Applications</h4></li>
          <a ui-sref="projectsUpdate"  class="collection-item">Art is Us</a>
          <a ui-sref="projectsUpdate"  class="collection-item">TV is dead, long live TV</a>
        </ul>
      </div>
      <div class="card-action">
        <a ui-sref="projectsNew">Create New Project</a>
      </div>
    </div>
  </div>
</div>
