
<div class="row top">
  <div class="col s12 m8 offset-m2">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">search</i>Filters
        </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8">
              <select ng-model="projectsIndex.searchCriteria">
                <option ng-repeat="role in projectsIndex.rolesArray" value="{{role}}">{{role}}</option>
                <option value="All">All</option>
              </select>
            </div>
            <div class="col s4">
              <a class="waves-effect waves-light btn add-member" ng-click="projectsIndex.searchForRole()">Search</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row" ng-if="projectsIndex.projects.length === 0">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel teal">
      <span class="white-text">
        No Projects to show.
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m4 l3" ng-repeat="project in projectsIndex.projects">
    <div class="card" ui-sref="projectsShow({ id: project._id })">
      <div class="card-image">
        <!-- NEEDS AN NG IF AROUND IT <a ui-sref="projectsApply"> -->
        <img ng-if="!project.picture" src="http://www.fillmurray.com/200/200">
        <img ng-if="project.picture" src="{{project.picture}}">
        <!-- </a> -->
        <span class="card-title">{{ project.name }}</span>
      </div>
      <div class="card-content">
        <ul class="collection">
          <li class="collection-item">
            <span class="badge" data-badge-caption="">
              £{{ project.budget }}
            </span>
            Budget
          </li>
          <li class="collection-item">
            <span class="badge" data-badge-caption="">
              {{ project.timeframe }}w
            </span>
            Time Frame
          </li>
          <li class="collection-item">
            <span class="badge" data-badge-caption="">
              {{ projectsIndex.getTeamSize(project.requiredTeamMembers) }}
            </span>
            Team Size
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
