<div class="row">
  <h1>{{ project.name }}</h1>
  <div class="col s12">
    <div class="card" ng-repeat="project in projects.projects">
      <div class="card-image">
        <!-- NEEDS AN NG IF AROUND IT <a ui-sref="projectsApply"> -->
        <img src="http://www.fillmurray.com/100/100">
        <!-- </a> -->
        <span class="card-title" ui-sref="projectsShow({ id: project._id })">{{ project.name }}</span>
      </div>
      <div class="card-content">
        <ul class="collection with-header">
          <li class="collection-header"> Budget</li>
          <li class="collection-item">{{ project.budget }}</li>
        </ul>
      </div>
      <div class="card-content">
        <ul class="collection with-header">
          <li class="collection-header"> Time Frame</li>
          <li class="collection-item">{{ project.timeframe }}</li>
        </ul>
      </div>
      <div class="card-content">
        <ul class="collection with-header">
          <li class="collection-header"> Team Size </li>
          <li class="collection-item" ng-init="temp_sizeNroles = projects.getTeamSizeNRoles(project.requiredTeamMembers)">{{ temp_sizeNroles }} </li>
        </ul>
      </div>
    </div>
  </div>
</div>
