<div class="row top">
  <div class="col s12">
    <div class="card col s12 m4" ng-repeat="project in projects.projects" ui-sref="projectsShow({ id: project._id })">
      <div class="card-image">
        <!-- NEEDS AN NG IF AROUND IT <a ui-sref="projectsApply"> -->
        <img ng-if="!project.picture" src="http://www.fillmurray.com/200/200">
        <img ng-if="project.picture" src="{{project.picture}}">
        <!-- </a> -->
        <span class="card-title">{{ project.name }}</span>
      </div>
      <div class="card-content">
        <ul class="collection">
          <li class="collection-item">
            <span class="new badge" data-badge-caption="">
              £{{ project.budget }}
            </span>
            Budget
          </li>
          <li class="collection-item">
            <span class="new badge" data-badge-caption="">
              {{ project.timeframe }}w
            </span>
            Time Frame
          </li>
          <li class="collection-item">
            <span class="new badge" data-badge-caption="">
              {{ projects.getTeamSize(project.requiredTeamMembers) }}
            </span>
            Team Size
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
