<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="./index.html" class="brand-logo">Team Builder</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="./login.html">Login</a></li>
        <li><a href="./register.html">Register</a></li>
        <li><a href="./projects.html">Projects</a></li><li><a href="./profile.html">Profile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="./login.html">Login</a></li>
        <li><a href="./register.html">Register</a></li>
        <li><a href="./projects.html">Projects</a></li><li><a href="./profile.html">Profile</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">UX Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email2" type="email" class="validate">
          <label for="email2">UI Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email3" type="email" class="validate">
          <label for="email3">UI Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email4" type="email" class="validate">
          <label for="email4">Back-End Email</label>
        </div>
      </div>
    </form>
    <form action="#" class="col s12">
      <p class="col s12">
        <input type="checkbox" id="test5" />
        <label for="test5">UX</label>
      </p>
      <p class="col s12">
        <input type="checkbox" id="test6" checked="checked" />
        <label for="test6">UI</label>
      </p>
      <p class="col s12">
        <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
        <label for="filled-in-box">UI</label>
      </p>
      <p class="col s12">
        <input type="checkbox" id="indeterminate-checkbox" />
        <label for="indeterminate-checkbox">Back-End Email</label>
      </p>
    </form>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col 12">
          <a href="./project.html" class="waves-effect waves-light btn">Send</a>
        </div>
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>
</html>
