<div class="row basic-project-info" ng-show="projectsNew.part1">
  <form class="col s12">
    <div class="row">
      <h3>Project Information</h3>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" ng-model="projectsNew.newProject.name">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="description" type="text" class="validate" ng-model="projectsNew.newProject.description">
        <label for="description">Description</label>
      </div>
    </div>
    <div class="row">
      <p class="range-field col s12">
        <label for="budget">Budget: £{{projectsNew.newProject.budget}}</label>
        <input type="range" id="budget" min="0" max="20000" ng-model="projectsNew.newProject.budget"/>
      </p>
    </div>
    <div class="row">
      <p class="range-field col s12">
        <label for="timeframe">Timeframe: w{{projectsNew.newProject.timeframe}}</label>
        <input type="range" id="timeframe" min="0" max="52" ng-model="projectsNew.newProject.timeframe"/>
      </p>
    </div>
    <a class="waves-effect waves-light btn" ng-click="projectsNew.part1 = !projectsNew.part1">Team Builder</a>
  </form>
</div>
<div class="row project-requiredMembers-info" ng-show="!projectsNew.part1">
  <div class="row">
    <div class="col s12">
      <h3>Team Maker</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <select ng-model="projectsNew.newProject.memberToAdd">
        <option ng-repeat="role in projectsNew.rolesArray" value="{{role}}">{{role}}</option>
      </select>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn add-member" ng-click="projectsNew.addMember()">Add</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="collection">
        <li href="#!" class="collection-item" ng-repeat="(role, number) in projectsNew.newProject.teamMembers track by $index" ng-if="number > 0">
          <span class="new badge" data-badge-caption="Positions">
            {{number}}
          </span>
          {{role}}
        </li>
      </ul>
    </div>
  </div>
</div>
