<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="./index.html" class="brand-logo">Team Builder</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="./login.html">Login</a></li>
        <li><a href="./register.html">Register</a></li>
        <li><a href="./projects.html">Projects</a></li><li><a href="./profile.html">Profile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="./login.html">Login</a></li>
        <li><a href="./register.html">Register</a></li>
        <li><a href="./projects.html">Projects</a></li><li><a href="./profile.html">Profile</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="customer" type="text" class="validate">
          <label for="customer">Customer</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="description" type="text" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="budget" type="text" class="validate">
          <label for="budget">Budget</label>
        </div>
        <div class="input-field col s6">
          <input id="deadline" type="text" class="validate">
          <label for="deadline">Deadline</label>
        </div>
      </div>
      <a href="./team-builder.html" class="waves-effect waves-light btn">Team Builder</a>
    </form>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>
</html>
