
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="customer" type="text" class="validate">
          <label for="customer">Customer</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="description" type="text" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="budget" type="text" class="validate">
          <label for="budget">Budget</label>
        </div>
        <div class="input-field col s6">
          <input id="deadline" type="text" class="validate">
          <label for="deadline">Deadline</label>
        </div>
      </div>
      <a ui-sref="projectsNew2" class="waves-effect waves-light btn">Team Builder</a>
    </form>
  </div>
