
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="col s12">
          <p class="range-field">
            UX Designers
            <input type="range" min="0" max="6" />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="range-field">
            UI Designers
            <input type="range" min="0" max="6" />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="range-field">
            Front-End Devs
            <input type="range" min="0" max="6" />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="range-field">
            Back-End Devs
            <input type="range" min="0" max="6" />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="range-field">
            Data Scientists
            <input type="range" min="0" max="6" />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="range-field">
            Marketers
            <input type="range" min="0" max="6" />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="range-field">
            Project Managers
            <input type="range" min="0" max="6" />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="range-field">
            IOS Devs
            <input type="range" min="0" max="6" />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="range-field">
            Andriod Devs
            <input type="range" min="0" max="6" />
          </p>
        </div>
      </div>
      <a ui-sref="projectsNew3" class="waves-effect waves-light btn">Team Member Invites</a>
    </form>
  </div>
