<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">UX Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email2" type="email" class="validate">
        <label for="email2">UI Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email3" type="email" class="validate">
        <label for="email3">UI Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email4" type="email" class="validate">
        <label for="email4">Back-End Email</label>
      </div>
    </div>
  </form>
  <form action="#" class="col s12">
    <p class="col s12">
      <input type="checkbox" id="test5" />
      <label for="test5">UX</label>
    </p>
    <p class="col s12">
      <input type="checkbox" id="test6" checked="checked" />
      <label for="test6">UI</label>
    </p>
    <p class="col s12">
      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
      <label for="filled-in-box">UI</label>
    </p>
    <p class="col s12">
      <input type="checkbox" id="indeterminate-checkbox" />
      <label for="indeterminate-checkbox">Back-End Email</label>
    </p>
  </form>
</div>
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col 12">
        <a ui-sref="projectsIndex" class="waves-effect waves-light btn">Send</a>
      </div>
    </div>
  </div>
</div>
