<div class="row">
  <a class="btn-floating btn-large waves-effect waves-light red"  ng-if="projects.currentFreelancer._id === projects.project.leadFreelancer" ui-sref="projectsEdit({id: projects.project._id})"><i class="large material-icons">mode_edit</i></a>
</div>
<div class="row">

  <h1>{{ projects.project.name }}</h1>
  <h6>{{ projects.project.description }}</h6>

  <div class="col s12 ">
    <div class="card">
      <!-- NEEDS AN NG IF AROUND IT <a ui-sref="projectsApply"> -->
      <!-- </a> -->
      <div class="card-content">
        <ul class="collection with-header">
          <li class="collection-header">Budget</li>
          <li class="collection-item">{{ projects.project.budget }}</li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header">TimeFrame</li>
          <li class="collection-item">{{ projects.project.timeframe }}</li>
        </ul>
        <!-- <ul class="collection with-header">
        <li class="collection-header">Required Positions</li>
        <li class="collection-item" ng-repeat="(key, value) in projects.project.requiredTeamMembers">{{ }}</li>
      </ul> -->
      <ul class="collection with-header">
        <li class="collection-header">Required Positions</li>
        <li class="collection-item" ng-repeat="(key, value) in projects.project.requiredTeamMembers track by $index" ng-if="value !== 0">{{ value }} {{ key }}</li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header">Open Positions</li>
        <li class="collection-item" ng-if="projects.openPositionCount(projects.project.openTeamMembers) === 0"> No available roles </li>
        <li class="collection-item" ng-repeat="(key, value) in projects.project.openTeamMembers track by $index" ng-if="value !== 0">
          {{ value }} {{ key }} Positions
          <button ng-click="projects.freelancerApply(key, projects.project._id)" class="btn waves-effect waves-light" type="submit" name="action">Apply
            <i class="material-icons right">send</i>
          </button>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header">Filled Positions</li>
        <li class="collection-item" ng-repeat="(key, value) in projects.project.liveTeamMembers track by $index" ng-if="value.length !== 0"><span ng-repeat="id in value track by $index">{{ key }}: {{ id.firstName }} {{ id.lastName }} </span></li>
      </ul>
    </div>
  </div>
</div>
</div>
