<!DOCTYPE html>
<html ng-app="teamBuilder">
<head>
  <meta charset="utf-8">
  <title>Team Builder</title>
  <base href="/">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav>
      <div class="nav-wrapper">
        <a ui-sref="home" class="brand-logo">Team Builder. <span ng-if="main.freelancer.firstName"> Hi {{main.freelancer.firstName}}</span></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a ui-sref="freelancersLogin">Login</a></li>
          <li><a ng-click="main.logout()">Logout</a></li>
          <li><a ui-sref="freelancersRegister">Register</a></li>
          <li><a ui-sref="projectsIndex">Projects</a></li>
          <li><a ui-sref="freelancersShow({id: '5890815eb8e04e5622833cba'})">Profile</a></li>
          <li><a ui-sref="freelancersIndex">Freelancers</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a ui-sref="freelancersLogin">Login</a></li>
          <li><a ng-click="main.logout()">Logout</a></li>
          <li><a ui-sref="freelancersRegister">Register</a></li>
          <li><a ui-sref="projectsIndex">Projects</a></li>
          <li><a ui-sref="freelancersShow({id: '5890815eb8e04e5622833cba'})">Profile</a></li>
          <li><a ui-sref="freelancersIndex">Freelancers</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container" ui-view></main>

</body>
</html>
