<!DOCTYPE html>
<html ng-app="teamBuilder">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TEAM:UP</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Arvo|Montserrat|Raleway|Ubuntu" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav>
      <div class="nav-wrapper">
        <a ui-sref="home" class="brand-logo"><img src="images/logo.jpg" />team:UP<span ng-if="main.freelancer.firstName"> Hi {{main.freelancer.firstName}}</span></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a ui-sref="freelancersLogin" ng-hide="main.freelancer.firstName">Login</a></li>
          <li><a ng-click="main.logout()" ng-show="main.freelancer.firstName">Logout</a></li>
          <li><a ui-sref="freelancersRegister" ng-hide="main.freelancer.firstName">Register</a></li>
          <li><a ui-sref="projectsIndex">Projects</a></li>
          <li><a ui-sref="freelancersShow({id: main.freelancer._id})" ng-show="main.freelancer.firstName">Profile</a></li>
          <li><a ui-sref="freelancersIndex" ng-show="main.freelancer.firstName">Freelancers</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a ui-sref="freelancersLogin" ng-hide="main.freelancer.firstName">Login</a></li>
          <li><a ng-click="main.logout()" ng-show="main.freelancer.firstName">Logout</a></li>
          <li><a ui-sref="freelancersRegister" ng-hide="main.freelancer.firstName">Register</a></li>
          <li><a ui-sref="projectsIndex">Projects</a></li>
          <li><a ui-sref="freelancersShow({id: main.freelancer._id})" ng-show="main.freelancer.firstName">Profile</a></li>
          <li><a ui-sref="freelancersIndex" ng-show="main.freelancer.firstName">Freelancers</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main ui-view></main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

</body>
</html>
