// font-family: 'Raleway', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Arvo', serif;
// font-family: 'Montserrat', sans-serif;

//************VARIABLES*********//

$primary-color: #009688;
$background-color: #FAFAFA;
$main-font: ;

//*************GENERAL*************//

body {
  background-color: $background-color;
  font-family: 'Raleway', sans-serif;
}

//****************NAV***********//
nav {
    background-color: $primary-color;
}

//*********HOME**************//
.parallax {
  background-size: cover;
}
.parallax-container {
      height: 100vh;
    }


//**********FOOTER*************//
footer.page-footer {
    padding-top: 20px;
    background-color: $primary-color;
}
