// font-family: 'Raleway', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Arvo', serif;
// font-family: 'Montserrat', sans-serif;

//************VARIABLES*********//


//*************GENERAL*************//

body {
  font-family: 'Raleway', sans-serif;
}

//****************NAV***********//

//*********HOME**************//
.parallax {
  background-size: cover;
}
.parallax-container {
      height: 100vh;
    }


//**********FOOTER*************//



//**********NEW TEAM*************//

select {
    display: inline-block;
    margin: 20px 0 20px;
    width: 100%;
    border-radius: 5px;
}

a.add-member {
  display: inline-block;
  margin: 20px 0 20px;
  width: 100%;
  border-radius: 5px;
}
