// font-family: 'Raleway', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Arvo', serif;
// font-family: 'Montserrat', sans-serif;

//************VARIABLES*********//
$primary-color: #009688;

//*************GENERAL*************//

body {
  font-family: 'Raleway', sans-serif;
}

.row.top {
    padding-top: 50px;
}

.parallax img {
    @media only screen and (max-width: 599px) { max-width: 200%; }
    @media only screen and (min-width: 600px) { max-width: 200%; }
    @media only screen and (min-width: 900px) { width: 100%; }
}


.parallax-container img {
  opacity: 0.5;
  filter: alpha(opacity=30);
}

//****************NAV***********//
nav {
  background-color: $primary-color;
}

//*********HOME**************//
.parallax-container {
  height: 500px;
}

//***********PROJECTS_SHOW**********//

.card-image.project {
  height: 200px;
  background-size: cover;
}

.card-image.project img {
  height: 200px;
}

//***********PROJECTS_EDIT**********//

.card-image.project.edit {
  height: 100px;
  background-size: cover;
}

.card-image.project.edit img {
  height: 100px;
}




//**********FOOTER*************//
footer.page-footer {
  background-color: $primary-color;
}

.Box {
  height: 600px;
  text-align: center;
  margin: 0 auto;

  h3 {
    font-family: 20px;
    margin-top: 80px;
  }
}

#bottom {
  display: block;
  margin-top: 100vh;
}

.brand-logo {
  margin-left: 25px;
}



//**********NEW TEAM*************//

select {
    display: inline-block;
    margin: 20px 0 20px;
    width: 100%;
    border-radius: 5px;
}

a.add-member {
  display: inline-block;
  margin: 20px 0 20px;
  width: 100%;
  border-radius: 5px;
}
