<div class="Box">
  <div class="container">
    <h3>TEAM:UP <br>a tool for developers to come together on freelance projects.</h3>
    <a class="waves-effect waves-light btn" ng-click="home.goToBottom()">LEARN MORE</a>
    <a class="waves-effect waves-light btn" ui-sref="freelancersLogin">Login</a>
  </div>
</div>
<a id="bottom"></a>
<div class="parallax-container">
  <div class="parallax">
    <img src="images/friends.jpg">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">TEAM:UP</h2>
    <div class="row">

      <div class="col s12 m4">
        <h3>Twee meggings 90's fap. </h3>
      </div>
      <div class="col s12 m4">
        <h3>Unicorn kinfolk af, leggings lyft synth sriracha sustainable.</h3>
      </div>
      <div class="col s12 m4">
        <h3>Waistcoat hammock fixie you probably haven't heard of them.</h3>
      </div>

    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/pairing.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    <h2 class="header">Parallax</h2>
    <h2 class="header">Parallax</h2>
    <h2 class="header">Parallax</h2>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/cool.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    <h2 class="header">Parallax</h2>
    <h2 class="header">Parallax</h2>
    <h2 class="header">Parallax</h2>
  </div>
</div>
