<div class="row top">
  <div class="col s12 m8 offset-m2">
    <form class="col s12" ng-submit="freelancersEdit.freelancersUpdate()">
      <div class="row">
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="first_name" type="text" class="validate active" placeholder="{{ freelancersEdit.freelancer.firstName }}" ng-model="freelancersEdit.freelancer.firstName">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate active" placeholder="{{ freelancersEdit.freelancer.lastName }}" ng-model="freelancersEdit.freelancer.lastName">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="github" type="text" class="validate active" placeholder="{{ freelancersEdit.freelancer.github }}" ng-model="freelancersEdit.freelancer.github">
            <label for="github">Github</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="linkedIn" type="text" class="validate active" placeholder="{{ freelancersEdit.freelancer.linkedIn }}" ng-model="freelancersEdit.freelancer.linkedIn">
            <label for="linkedIn">LinkedIn</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="portfolio" type="text" class="validate active" placeholder="{{ freelancersEdit.freelancer.personalWebsite }}" ng-model="freelancersEdit.freelancer.personalWebsite">
            <label for="portfolio">Personal Site</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="profilePicture" type="text" class="validate active" placeholder="{{ freelancersEdit.freelancer.profilePicture }}" ng-model="freelancersEdit.freelancer.profilePicture">
            <label for="portfolio">Profile Picture</label>
          </div>
        </div>
        <input type="submit" class="waves-effect waves-light btn" value="Submit">
      </div>
    </form>
  </div>
</div>
