<form class="col s12" ng-submit="freelancers.freelancersCreate()">
  <div class="row">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" ng-model="freelancers.freelancer.firstName">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" ng-model="freelancers.freelancer.lastName">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="github" type="text" class="validate" ng-model="freelancers.freelancer.github">
        <label for="github">Github</label>
      </div>
      <div class="input-field col s6">
        <input id="linkedIn" type="text" class="validate" ng-model="freelancers.freelancer.linkedIn">
        <label for="linkedIn">LinkedIn</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="portfolio" type="text" class="validate" ng-model="freelancers.freelancer.personalWebsite">
        <label for="portfolio">Personal Site</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" ng-model="freelancers.freelancer.email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" ng-model="freelancers.freelancer.password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password_confirmation" type="password" class="validate" ng-model="freelancers.freelancer.passwordConfirmation">
        <label for="password_confirmation">Password Confirmation</label>
      </div>
    </div>
    <input type="submit" class="waves-effect waves-light btn" value="Submit">
  </div>
</form>
